name: build

on:
  workflow_dispatch:
  pull_request:
  push:

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Install markdown
        run: pip3 install markdown
      - name: Make resume
        run: python3 resume.py --debug
      - name: Archive resume.html and resume.pdf
        uses: actions/upload-artifact@v4
        with:
          name: resume.pdf
          path: |
            *.pdf
            *.html
      - name: Upload resume.html
        uses: zdurham/s3-upload-github-action@master
        with:
          args: --acl public-read
        env:
          FILE: ./resume.html
          AWS_REGION: "us-east-1"
          S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          S3_KEY: resume.html
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: Upload resume.pdf
        uses: zdurham/s3-upload-github-action@master
        with:
          args: --acl public-read
        env:
          FILE: ./resume.pdf
          AWS_REGION: "us-east-1"
          S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          S3_KEY: resume.pdf
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
